:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
}


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.card {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 2rem;
    border-bottom-right-radius: 7rem;
    width: 40rem;
}

.flex-main-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-items: end;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 7rem;
}

.button-container {
    display: flex;
    justify-content: end;
}


label {
    letter-spacing: 2px;
    color: var(--smokey-grey);
    font-size: .8rem;
    font-weight: 600;
    padding-bottom: 10px;
}

input {
    color: var(--off-black);
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px var(--light-grey) solid;
    border-radius: 5px;
    padding-left: 15px;
}

input::placeholder {
    color: var(--smokey-grey);
}

input:focus {
    outline: 1px var(--purple) solid;
}

button {
    background-color: var(--purple);
    border-radius: 50%;
    border: 0px;
    padding: 1rem;
    width: 4rem;
    cursor: pointer;
}

button:active {
    background-color: var(--off-black);
}


h2 {
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
    line-height: 5rem;
}

span {
    color: var(--purple);
}

.error {
    color: red;
    font-size: .8rem;
    font-style: italic;
    padding-top: 7px;
}

.input-error {
    border: 1px red solid;
}

.red {
    color: red;
}

@media (max-width:40rem) {
    
    .card {
        max-width: 374px;
    }

    h2 {
        font-size: 3.4rem;
    }

    .button-container {
        justify-content: center;
        padding: 1rem;
    }

    .flex-main-container {
        gap: 0rem;
        padding: 1rem;
        justify-content: space-around;
    }
    
    .flex-container {
        padding: 1rem;
    }

    input {
        font-size: 1.2rem;
        height: 3rem;
    }
}